*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  @import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&family=Inter&family=Josefin+Sans:wght@300;400;600&family=Karla&family=Poppins:wght@400;500;700&family=Roboto&display=swap');


body{
  
    font-family: 'Barlow Semi Condensed';
    padding: 4%;
    color: white;
}

p{
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 15px;
}

h4{
    font-size: 1.7rem;
    margin-bottom: 20px;
    line-height: 1.2;
}


main{
  width: 100%;
    display: grid;
    grid-template-columns: 6fr 2fr;
    gap: 20px;
}

@media screen and (max-width: 1045px) {
    main {
        grid-template-columns: 1fr;
    }
}



.left{
    display: grid;
    gap: 20px;
    
}

.right{
    color: black;
}  

.box{
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.subOne{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    width: 100%;
  }


.subOne-One{
    background-image: url("images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-position: top right 20%;
    background-size:20%;
    background-color: hsl(263, 55%, 52%);
}

img{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid white;
}

.title-section{
    gap: 20px;
}

.subOne-Two{
    background-color: hsl(217, 19%, 35%);
}

.subOne-One .main-content h4{
    /* width: 90%; */
    font-size: 1.5rem;
    margin-bottom: 10px;
}

@media screen and (max-width: 600px){

    .subOne-One .main-content h4{
        font-size: 1.5rem;
      }
}

.subTwo{
    /* background-color: rgb(64, 35, 131);  */
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    width: 100%;
}



@media screen and (max-width: 600px){

    .subTwo{
        grid-template-columns:1fr ;
      }

      .subOne {
        grid-template-columns: 1fr;
      }
    
} 

.subTwo-One{
    background-color:  hsl(0, 0%, 100%);
    color: black;
}

.subTwo-Two{
    background-color: hsl(219, 29%, 14%)
}

.flex{
    display: flex;
}

.title-section{
    margin-bottom: 10px;
}

.right .main-content h6{
    color: black;
    font-size: 1.2rem;
    opacity: 70%;
    margin-bottom: 10px;
}


.right .main-content p{
    color: black;
    font-size: 0.8rem;
    opacity: 70%;
    margin-bottom: 10px;
}

@media screen (max-width:600px){

          .subOne{
            grid-template-columns:1fr ;
          }
    
          p{
            font-size: 1.2rem;
          }
    
          h4{
            font-size: 1.7rem;
          }
        
    } 
  
    .right .main-content p{
        font-size: 1.2rem;
       
    }

    .right .main-content h4{
        font-size: 1.7rem
       
    }

} 


.details-section h5{
    font-size: 2rem;
    line-height: 1.1;
}

.details-section p{
    font-size: 1rem;
       opacity: 40%;
}








